:root {
    --font-family-base: 'Pretendard', sans-serif;
    --font-size-sm: 1.1rem;
    --font-size-caption: 1.2rem;
    --font-size-label: 1.3rem;
    --font-size-label2: 1.4rem;
    --font-size-normal: 1.5rem;
    --font-size-base: 1.6rem;
    --font-size-headline: 1.8rem;
    --font-size-heading: 2rem;
    --font-size-title: 2.4rem;
    --font-size-title2: 2.8rem;
    --line-height-sm: 1.27;
    --line-height-caption: 1.33;
    --line-height-heading: 1.34;
    --line-height-title2: 1.36;
    --line-height-label: 1.38;
    --line-height-label2: 1.43;
    --line-height-headline: 1.45;
    --line-height-normal: 1.47;
    --line-height-base: 1.5;
    --spacing-sm: 0;
    --spacing-base: -1%;
    --spacing-heading: -1.2%;
    --spacing-title: -2.3%;
    --spacing-title2: -2.36%;
    --spacing-label: 1.94%;
    --color-text: #17191A;
    --color-text-muted: rgba(55, 56, 60, 0.61);
    --color-text-disabled: rgba(55, 56, 60, 0.28);
    --color-text-neutral: rgba(55, 56, 60, 0.16);
    --color-text-pop: rgba(46, 47, 51, 0.88);
    --color-white: #ffffff;
    --color-disabled: #F4F4F5;
    --color-primary-normal: #0066FF;
    --color-primary-heavy: #0054D1;
    --color-line-neutral: #EAEBEC;
    --color-line-normal: rgba(112, 115, 124, 0.22);
    --color-line-alternative: rgba(112, 115, 124, 0.08);
    --color-line-base: rgba(112, 115, 124, 0.16);
    --color-bg-alternative: #F7F7F8;
    --color-bg-violet: #f4f0fe;
    --color-bg-blue: #eaf3fd;
    --color-bg-blue95: #EAF2FE;
    --color-bg-blue99: #F7FDFF;
    --color-bg-lightblue: #ebf9ff;
    --color-bg-skyblue: #F2F8FC;
    --color-bg-pink: #fef1fc;
    --color-bg-negative: #fff0f0;
    --color-bg-cautionary: #fff6eb;
    --color-bg-green99: #F2FFF6;
    --color-status-negative: #FF4242;
    --color-status-cautionary: #FF9200;
    --color-accent-violet: #6541F2;
    --color-accent-green40: #009632;
    --color-accent-green50: #00BF40;
    --color-accent-green80: #7DF5A5;
    --color-accent-green95: #D9FFE6;
    --color-accent-blue: #036AE8;
    --color-accent-blue80: #9EC5FF;
    --color-accent-lightblue: #00AEFF;
    --color-accent-yellow: #F3E034;
    --color-accent-pink: #F553DA;
    --color-accent-cyan: #00BDDE;
    --color-popup-bg: rgba(0, 0, 0, 0.7);
    --border-base: 1px solid rgba(112, 115, 124, 0.16);
    --border-normal: 1px solid rgba(112, 115, 124, 0.22);
    --border-alternative: 1px solid rgba(112, 115, 124, 0.08);
    --border-radius-xxs: 0.4rem;
    --border-radius-xs: 0.6rem;
    --border-radius-sm: 0.8rem;
    --border-radius-md: 1rem;
    --border-radius-normal: 1.2rem;
    --border-radius-lg: 1.6rem;
}